.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
.fieldGame{
    width: 400px;
    height: 400px;
    border: 5px solid rgb(165, 159, 159);
    position: relative;
    margin: 0 auto;
}
.cell{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(165, 159, 159);
    position: absolute;
    font-size: 36px;
    color: rgb(56, 54, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.movesWrap{
    text-align: center;
}
.soundName{
    text-align: center;
}
